@import "tailwindcss";
@import "@ckeditor/ckeditor5-build-classic/build/styles/content.css";


:root {
  --background: #ffffff;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-geist-mono);
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  font-family: Arial, Helvetica, sans-serif;
}


@keyframes pulse-rotate {
  0% {
    transform: scale(1) rotate(0deg);
    opacity: 1;
  }
  50% {
    transform: scale(1.2) rotate(180deg);
    opacity: 0.7;
  }
  100% {
    transform: scale(1) rotate(360deg);
    opacity: 1;
  }
}

.animate-pulse-rotate {
  animation: pulse-rotate 2s infinite ease-in-out;
}

.animate-pulse-rotate-once {
  animation: pulse-rotate 3s ease-in-out forwards; /* Runs once for 3 seconds */
}
